#calendar  table, th, td {
	border: 1px solid black;
	text-align: center;
	cursor: pointer;
	user-select: none;
}

#calendar  table{
	border-collapse: collapse;
	border-radius: 5px;
}

#calendar  th,td{
	width: 20px;
	height: 20px;
}

#calendar  .inactive{
	color: red;
}

#calendar  td:hover{
	background-color:#333;
	color:white;
}

#calendar  .unclickable{
	cursor:default;
}

#calendar  .unclickable:hover{
	background-color: #fff;
	color:red;
}
